<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @question.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%== MarkdownFactory.instance.render(@question.title) %>
</p>

<p>
  <strong>Question:</strong>
  <%== MarkdownFactory.instance.render(@question.body) %>
</p>

<p>
  <strong>Answers:</strong>
  <% @question.answers.each do |answer| %>
  <p>
    <strong><%= answer.user.name %></strong>
    <p></p>
    <td><%== MarkdownFactory.instance.render(answer.body) %></td>
    <td><%= link_to 'Show', question_answer_path(@question, answer) %></td>    
  </p>
  <hr>
<% end %>
<%= link_to 'New Answer', new_question_answer_path(@question) %>
</p>

<%= link_to 'Edit', edit_question_path(@question) if @question.user_id == current_user.id %> |
<%= link_to 'Back', questions_path %>
