<p id="notice"><%= notice %></p>

<h1>Answers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Question</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.user.name %></td>
        <td><%== MarkdownFactory.instance.render(answer.question.title) %></td>        
        <td><%= link_to 'Show', question_answer_path(@question, answer) %></td>
        <td><%= link_to 'Edit', edit_question_answer_path(@question, answer)  if answer.user_id == current_user.id %></td>
        <td><%= link_to 'Destroy', [@question, answer], method: :delete, data: { confirm: 'Are you sure?' }   if answer.user_id == current_user.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer', new_question_answer_path(@question) %>
<%= link_to 'Back', question_path(@question) %>
