<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @answer.user.name %>
</p>

<p>
  <strong>Question:</strong>
  <%== MarkdownFactory.instance.render(@answer.question.title) %>
  <hr>
  <%== MarkdownFactory.instance.render(@answer.question.body) %>
</p>

<p>
  <strong>Answer:</strong>
  <%== MarkdownFactory.instance.render(@answer.body) %>
</p>

<%= link_to 'Edit', edit_question_answer_path(@question, @answer) if @answer.user_id == current_user.id %> |
<%= link_to 'Back', question_answers_path(@question) %>
